.modal-container{
    position: absolute;
    top:50%;
    left: 42%;
    background-color: black;
    padding: 20px;
    z-index: 1000;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


.modalclosebtn{
    position: absolute;
    top: 65%;
    left: 50%;
}