.Sidebar-container{
    width: 20%;
    background-color:#EDEDED;
    height: 100%;
  position: fixed; 
  z-index: -1; 
  top: 0; 
  left: 0;
   overflow-x: hidden; 
   color: #000;
}

.Img-logo{
    margin-top: 15%;
    margin-bottom: 25%;
    display: block;
    max-width:45%;
    margin-left: 25%;
}

/* p{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #828282;
    letter-spacing: 1px; 
    font-weight: 500;
    font-size: .7rem;
    left: 20%;
} */

.Sidebar-heading{

        padding: 5px 15px;
        margin-left: auto;
        margin-right: auto;
        color: #828282;
        letter-spacing: 1px; 
        font-weight: 500;
        font-size: .7rem;
        left: 20%;

    padding-left: 40px;
    margin-top: 15px;
   
}


.btn-playlist{
    text-decoration: none;
    font-weight: 500;
    font-size: .7rem;
    border: 1px solid #00C555;
    padding: 15px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}



.ActiveState{
    background: linear-gradient(89.52deg, #A0E3BF -2.46%, rgba(160, 227, 191, 0) 42.16%);
    cursor: pointer;
    color: #fff;
}

.SidebarContents:active{
    background: linear-gradient(89.52deg, #A0E3BF -2.46%, rgba(160, 227, 191, 0) 42.16%);
    cursor: pointer;
    color: #fff;

}

hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: .3;
    margin-bottom: 20px;
}