@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100vw;
  background-image: linear-gradient(to bottom, #000000, #080808, #0e0e0e, #141414, #181818);
}